
.article{

text-align-last: center;
margin-left: 20%;
margin-right: 20%;
}

header{
width: 100%;


}
.linki{
  color: chartreuse;
  font-size:14px;
}
p.tytul{
  display: none;

}
  
aside{ 
  text-align: center;
  margin: 0%;
  border: 1px groove gray;

}
#oceny{border: 3mm groove gray;}
footer{
  text-align: center;
  margin: 0%;
  border: 1px groove gray;
 }



h1 {
    margin: 0;
  padding: 20px 0;    
  color: black;
  background: whitesmoke;
  text-shadow: 3px 3px 1px black;
}
 
h2
{
margin: 0;
padding: 20px 0;
color: rgb(48, 15, 15);
text-shadow: 3px 3px 1px rgb(0, 0, 0);
}
  body {
    width: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 6px solid black;
   
   } 

  a {
    color: Black
  }
  a:link
{
  color:#31508f;
}

a:visited
{
  color:maroon;
}

a:hover
{
  color:red;
}

a:active
{
  color:green;
}
  html {
  font-size: 27px; /* px oznacz 'piksele': bazowy rozmiar tekstu to teraz 10 pikseli wysokości  */
  font-family: placeholder; /* tu powinnien być font-family wygenerowany w Google fonts */
}
img {
  display: block;
  margin: 0 auto;
}
.wrap-all {
		overflow: hidden;
		width:100%;
		position: relative;
	}
	.page-main {
		padding:20px;
		position: relative;
		color:#666;
		font: size 24px;
    line-height: 1.4em;
    text-align: center;
	}

/* navigation toggle */
	.navigation-toggle {
		position:fixed;
		top:10px;
		right:10px;
		width:40px;
		height:40px;
		background: #222;
		border-radius:2px;
		display: block;
		z-index: 100;
		cursor: pointer;
	}
	.navigation-toggle span {
		width:20px;
		height:3px;
		margin:4px 10px;
		display: block;
		background: #fff;
		border-radius:1px;
	}
	.navigation-toggle span:first-child {
		margin-top:12px;
	}

/* navigation */
	.navigation {
		z-index: 2;
		min-height: 100%;
		font-family:'Source Sans Serif', sans-serif;
		font-weight:300;
		font-size:14px;
		position: fixed;
		top:0;
		left:-250px;
		width:250px;
		background: #1A2124;
		height:100%;
		overflow: hidden;
		overflow-y:auto;
		color:#42505A;
		-webkit-transition: 0.5s left;
		-moz-transition: 0.5s left;
		-ms-transition: 0.5s left;
		-o-transition: 0.5s left;
		transition: 0.5s left;
	}

	.navigation a {
		color:#42505A;
	}
	.navigation ul {
		list-style:none;
		padding:0;
		margin:20px 0;
	}
	.navigation ul li {
		text-transform: uppercase;
		border-bottom:1px solid #090B0D;
		font-weight:600;
	}
	.navigation ul li:last-child {
		border-bottom:0;
	}
	.navigation ul li a {
		display: block;
		height:50px;
		line-height: 50px;
		text-decoration: none;
		padding:0 20px 0 30px;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;

	}
	.navigation ul li a:hover {
		background:#3BB4BC;
		color:#fff;
		border-left:6px solid #329EA5;
	}
	.navigation .logo {
		text-align: center;
		margin:20px 0;
	}
	.navigation .logo img {
		max-width:120px;
		height:auto;
  }
  .navigation-show .page-content {
    left:250px;
  }
  .navigation-show .navigation {
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
    left:0;
  }
