
header{

  background: whitesmoke;
  border-top: 1px groove gray;
  border-left: 1px groove gray;
  border-right: 1px groove gray;
  border-bottom: 1px groove white;

}
.linki{
  color: chartreuse;
  font-size:14px;
}
p.tytul{
  color: blue;
}
  
aside{ 
  text-align: center;
  margin: 0%;
  border: 1px groove gray;

}
#oceny{border: 3mm groove gray;}
footer{
  text-align: center;
  margin: 0%;
  border: 1px groove gray;
 }



h1 {
    margin: 0;
  padding: 20px 0;    
  color: black;
  background: whitesmoke;
  text-shadow: 3px 3px 1px black;
}
 
h2
{
margin: 0;
padding: 20px 0;
color: rgb(48, 15, 15);
text-shadow: 3px 3px 1px yellowgreen;
}
  body {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 6px solid black;
   } 

  a {
    color: Black
  }
  a:link
{
  color:#31508f;
}

a:visited
{
  color:maroon;
}

a:hover
{
  color:red;
}

a:active
{
  color:green;
}
  html {
  font-size: 27px; /* px oznacz 'piksele': bazowy rozmiar tekstu to teraz 10 pikseli wysokości  */
  font-family: placeholder; /* tu powinnien być font-family wygenerowany w Google fonts */
}
img {
  display: block;
  margin: 0 auto;
}
